body {
    background-color: $color-grey;
    color: $color-black;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 29px;
}

p + p {
    margin-top: space(sm);
}

.wrapper {
    width: 100%;
    background-color: $color-white;

    @include min-mq($screen-lg) {
        width: 1280px;
        margin: auto;
    }
}