//Fontstyles
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sacramento');

.main-healdine {
    font-family: 'Sacramento', cursive;
    font-size: 96px;
}

.medium-headline {
    font-size: 36px;
    font-weight: bold;
}

.small-headline {
    font-size: 24px;
    font-weight: bold;
}

.subline {
    font-size: 24px;
    font-weight: lighter;
}