/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Sacramento");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.main-healdine {
  font-family: 'Sacramento', cursive;
  font-size: 96px; }

.medium-headline {
  font-size: 36px;
  font-weight: bold; }

.small-headline {
  font-size: 24px;
  font-weight: bold; }

.subline {
  font-size: 24px;
  font-weight: lighter; }

body {
  background-color: #E5E5E5;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }

.wrapper {
  width: 100%;
  background-color: #fff;
  padding-left: 20px; }
  @media (min-width: 1300px) {
    .wrapper {
      width: 1280px;
      margin: auto;
      padding-left: 160px; } }
